.cards{
  width: 100%;
  margin-top: 260px;
}
.cards__header{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInUp 0.8s ease-out;
}
.cards__title{
  color: white;
  font-size: 40px;
  margin: 0;
}
.cards__text{
  color:rgb(185, 194, 203);
  font-size: 18px;
  width: 700px;
  text-align: center;
}
.cards__background{
  background: linear-gradient(
      to bottom,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0.2) 40%,
      rgba(0,0,0,0.4) 60%,
      rgba(0,0,0,0.95) 100%
    );
  padding-bottom: 1px;
}
.cards__container{
  margin-bottom: 120px;
  text-align: center;
}
.cards__list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}
.cards__item{
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(182, 223, 227);
  width: 280px;
  height: 420px;
  border-radius: 15px;
  align-items: center;
  list-style: none;
  background-color: rgb(19, 24, 34);
  animation: fadeInUp 0.8s ease-out both;
  cursor: pointer;
}
.cards__item:hover{
  scale: 1.05;
  box-shadow: 5px 5px 20px rgba(182, 223, 227);
  
}
.cards__item:nth-child(1) {
  animation-delay: 0.1s;
}
.cards__item:nth-child(2) {
  animation-delay: 0.2s;
}
.cards__item:nth-child(3) {
  animation-delay: 0.3s;
}
.cards__item:nth-child(4) {
  animation-delay: 0.4s;
}
.cards__item:nth-child(5) {
  animation-delay: 0.5s;
}
.cards__img{
  margin-top: 50px;
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 12px;
}
.cards__subtitle{
  color: white;
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
}
.cards__description{
  color: rgb(185, 194, 203);
  width: 60%;
  font-size: 22px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}